<h1>Log in</h1>
<form action="/src/routers/session/routerSession.js" method="get">
    <input type="text" name="user" id="user"></br></br>
    <input type="text" name="pass" id="pass"></br></br>
    <input type="submit" value="Save">
</form>