<h1>Register</h1>
<form action="" method="get">
    <input type="text" name="user" id="user"></br></br>
    <input type="password" name="pass" id="pass"></br></br>
    <input type="password" name="passEqual" id="passEqual"></br></br> 
    <input type="submit" value="Save">
</form>